body {
  background: #300;
}

.site-logo {
  max-height: 180px;
  max-width: 100%;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.contact-info-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 40px);

 img {
   height: 40px;
    width: 40px;
 }
}

.header-wrapper {
  display: grid;
  grid-template-columns: 30% 50% 20%;
  justify-items: center;
  align-items: center;
  max-width: 100%;
  @media (max-width: 480px) {
    grid-template-columns: 50% 50%;
  }
}

.hidden-mobile {
  @media (max-width: 480px) {
    display: none;
  }
}

.main-slider-wrapper {
  padding-top: 40px;
}

.main-slider-text {
  text-align: center;
  font-size: clamp(30px, 3vw, 60px);
  color: aliceblue;
  font-weight: 700;
  //transform: translateY(-150%);
  padding-top: 20px;
  text-shadow: 2px 2px 4px #000000;
}
