body {
  background: #300;
  width: 100%;
  height: 100%;
  margin: 0;
}

.site-logo {
  padding: 10px 0 0 10px;
  max-height: 180px;
  max-width: 100%;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.contact-info-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 40px);

 img {
   height: 40px;
    width: 40px;
 }
}

.header-wrapper {
  display: grid;
  grid-template-columns: 30% 50% 20%;
  justify-items: center;
  align-items: center;
  max-width: 100%;
  @media (max-width: 1200px) and (min-width: 480px) {
    padding: 0 20px;
  }
  @media (max-width: 480px) {
    grid-template-columns: 50% 50%;
  }
}

.hidden-mobile {
  @media (max-width: 480px) {
    display: none;
  }
}

.main-slider-wrapper {
  padding-top: 40px;
}

.main-slider-text {
  text-align: center;
  font-size: clamp(30px, 3vw, 60px);
  color: aliceblue;
  font-weight: 700;
  //transform: translateY(-150%);
  padding-top: 20px;
  text-shadow: 2px 2px 4px #000000;
}

.build-with-title, .services-title, .samples-title, .contact-section-title {
  text-align: center;
  font-size: clamp(30px, 3vw, 60px);
  color: aliceblue;
  font-weight: 600;
  padding-top: 80px;
  padding-bottom: 20px;
}

.build-with-wrapper {
  display: flex;
  justify-content: center;
  img {
    max-width: 50%;
    padding: 15px;
  }
}

.slide {
  display: grid;
  justify-items: center;
  align-items: center;
  text-decoration: none;

  img {
    height: 170px;
    object-fit: contain;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
}
.slide-text, .samples-slider-text, .contact-section-text {
  text-align: center;
  font-size: clamp(20px, 3vw, 50px);
  padding: 15px;
  color: aliceblue;
  font-weight: 500;
}

.services-wrapper {
  color: aliceblue;
  font-weight: 500;
  font-size: clamp(15px, 3vw, 1.4rem);
  text-align: center;
  .services-text-box span {
    text-decoration: underline;
    font-weight: 600;
  }
  ul {
    list-style-type: none;
  }
  display: grid;
  grid-template-columns: repeat(3,1fr);
  @media (max-width: 760px) {
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
    text-align: left;
  }
}

.main-slider-img {
    width: fit-content;
    object-fit: contain;
    aspect-ratio: 800/300;
    @media (max-width: 760px) {
      width: 100%;
      overflow: hidden;
    }
}

.samples-slider-img {
  width: 100%;
  object-fit: contain;
  padding: 15px;
}

.samples-slider {
  position: relative;
  width: 100%;
  .carousel__slide {
    display: block;
  }
}

.contact-section-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding-top: 2rem;

  @media (max-width: 760px) {
    grid-template-columns: 100%;
  }

  .text-line {
    display: grid;
    grid-template-columns: 45px 1fr;
    color: aliceblue;
    font-weight: 500;
    font-size: clamp(15px, 3vw, 1.4rem);
    text-align: center;
  }

  a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
    font-size: clamp(15px, 3vw, 1.4rem);
    text-align: center;
  }

  .contact-section-text-subtitle {
    padding-bottom: 1.5rem;
  }

  .contact-section-text {
    padding-bottom: 2rem;
  }

  .iframe-map {
    width: 100%;
    @media (max-width: 760px) {
      padding-bottom: 15px;
    }
  }

}